
.bg-white { background-color: white}
.bg-black { background-color: #000}
.bg-red { background-color: red}
.bg-blue { background-color: blue}
.bg-green { background-color: green}
.bg-lightgrey { background-color: #f5f5f5}


/* The alert message box */
.alert {
    padding: 20px;
    background-color: var(--main-error-color); /* Red */
    color: white;
    margin-bottom: 15px;
}

button {
    /*color: white;
	background: var(--main-input-color);*/
    color: var(--main-color);
	background: var(--main-bg-color);
	padding: var(--main-padding);
    /*border: 0;*/
    border: 1px solid var(--main-color);
    border-radius: var(--main-radius);
    font: 15px Arial;
    display: inline-block;
}
button:hover {
    cursor: pointer;
    color: var(--main-color);
    /*opacity: 1;*/
}
.btn,.g-btn {
    /*color: white;
	background: var(--main-input-color);*/
    color: white;
	background: var(--main-primary-color);
	padding: var(--main-padding);
    border: 0;
    border-radius: var(--main-radius);
    font: 15px Arial;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.btn:hover, .g-btn:hover{
    color:white;
}
.error {background-color: var(--main-error-color)!important}
.success {background-color: var(--main-success-color)!important}
.warning {background-color: var(--main-warning-color)!important}
.primary {background-color: var(--main-primary-color)!important}

.btn-white {background-color: white; border:1px solid var(--main-border-color); color: var(--main-color)!important}
.btn-default {background-color: var(--main-primary-color)!important}
.btn-success {background-color: var(--main-success-color)!important}
.btn-warning {background-color: var(--main-warning-color)!important}
.btn-primary {background-color: var(--main-primary-color)!important}
.btn-danger,.btn-error {background-color: var(--main-error-color)!important}
