
/*
label,input,form {
    display:block;width:100%;box-sizing: border-box
}
form,input,select{
    margin-bottom:8px;padding: 4px 8px
}*/
/* .g-form, .g-form label { */
.g-form input, .g-form select, .g-input {
    padding: var(--main-padding);
    border:0;
    font: 14px Arial;
    transition: 0s;
    margin:0;
    /*border: 1px solid #aaa;
    border-radius: var(--main-radius);*/
    background: var(--main-input-color);
}
.g-form input:focus, .g-form select:focus, .g-input:focus {
    border-bottom: 2px solid var(--main-a-color);
    padding-bottom: 10px;
    transition: 0s;
}
input + .helptext {
  opacity: 0;
  /*visibility: hidden;*/
  font-size: 0.8em;
  padding: 4px;
  transition: 0s;
}
input:focus + .helptext {
  opacity: 0.8;
  /*visibility: visible;*/
  transition: .5s;
  z-index: 0;
}


*:focus {
    outline: none;
    /*outline: 1px solid var(--main-primary-color);*/
}
.g-form label {
    padding: var(--main-padding);
    font: 14px Arial;
    font-weight: bold;
}
/*.g-form input:focus, .g-form select:focus, .g-input:focus {
    border: 1px solid lightvar(--main-a-color);
}*/
.g-form input[type=color], .g-input[type=color] {
    padding :0;
    border:0;
    margin:auto;
}


.g-form, .g-form>* {
    display:block;width:100%;
    box-sizing: border-box;
    margin-bottom:8px;
}


/* switch */
.g-switch input {display:none;}
.g-slider {
  cursor: pointer;
  background-color: grey;
  position: relative;
  display: inline-block;
  width: 41px;
  height: 21px;
  -webkit-transition: .4s;
  transition: .4s;
}
.g-slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
.g-switch input:checked + .g-slider {
  background-color: var(--main-success-color);
}
.g-switch input:focus + .g-slider {
  box-shadow: 0 0 1px var(--main-success-color);
}
.g-switch input:checked + .g-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.g-slider {
  border-radius: 21px;
}
.g-slider:before {
  border-radius: 50%;
}

/*
.g-check {
    color: attr(dc-off);
}
.g-check:checked {
  content: attr(data-on);
  color: attr(dc-on);
}
.g-check:after {
    display: inline-block;
    content: "\f205";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 48px;
    background: white;
}
.g-check:checked:after {
  content: attr(data-on);
}
*/
